@import url("https://use.typekit.net/wcs6mhl.css");

html, body {
  margin: 0;
  padding: 0;
  background-color: black !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  width: 100vw !important;
}


canvas {
  z-index: 1 !important;
  top: 0 !important;
}


#test{
  background-color: rgb(73, 73, 73) !important;
  width: 540px !important;
  height: 675px !important;
  /* transform: translate(-50%, 0) !important;
  margin-left: 50%; */

  /* width: auto; */
  /* position: relative;
  width: 540px !important;
  height: 675px !important;
  transform: translate(-50%, 0) !important;
  left: 50% !important; */
}

.upper-wordings-wrapper{
  position: absolute !important;
  width: 540px !important;
  top: 0 !important;
  padding: 20px 20px 20px 20px !important;
  color: white !important;
}
.upper-wordings-wrapper #first-text{
  width: 90% !important;
  color: white !important;
}
.upper-wordings-wrapper p{
  font-family: roc-grotesk, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: white !important;
}
.upper-wordings-wrapper #arrow-icon{
  text-align: right !important;
  font-size: 50px !important;
  padding-top: 0px !important;
  color: white !important;
}
.heading-row{
  margin-top: 50px !important;
}
h2{
  text-transform: uppercase !important;
  color: white !important;
  font-family: roc-grotesk-extrawide, sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 28px !important;
  color: white !important;
}

.bottom-wording-wrapper{
  position: absolute !important;
  width: 540px !important;
  bottom: 0 !important;
  padding: 20px 20px 10px 20px !important;
}
.bottom-wording-wrapper p{
  font-family: roc-grotesk, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: white !important;
}

video{
  display: none !important;
}



#rect{
  width: 50px;
  height: 50px;
  background-color: red !important;
}