@import url("https://use.typekit.net/wcs6mhl.css");


@media only screen and (max-width: 1024px) {
  body {
    display: none !important;
  }
}
/* html and body styles */
html, body {
  margin: 0;
  padding: 0;
  background-color: black !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  width: 100vw !important;
}
/* end of html and body styles */


/* canvas styles */
canvas {
  z-index: 1 !important;
  top: 0 !important;
}
/* canvas styles */


/* poster wrapper */
#test{
  background-color: rgb(73, 73, 73) !important;
  width: 540px !important;
  height: 675px !important;
}
/* end of poster wrapper */

/* upper wordings stylings */
.upper-wordings-wrapper{
  position: absolute !important;
  width: 540px !important;
  top: 0 !important;
  padding: 20px 20px 20px 20px !important;
  color: white !important;
}
.upper-wordings-wrapper #first-text{
  width: 90% !important;
  color: white !important;
}
.upper-wordings-wrapper p{
  font-family: roc-grotesk, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: white !important;
}
.upper-wordings-wrapper #arrow-icon{
  text-align: right !important;
  font-size: 50px !important;
  padding-top: 0px !important;
  color: white !important;
}
/* upper wordings stylings */

/* main heading stylings */
.heading-row{
  margin-top: 50px !important;
}
h2{
  text-transform: uppercase !important;
  color: white !important;
  font-family: roc-grotesk-extrawide, sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 28px !important;
  color: white !important;
}
/* end of main heading stylings */

/* bottom wordings stylings */
.bottom-wording-wrapper{
  position: absolute !important;
  width: 540px !important;
  bottom: 0 !important;
  padding: 20px 20px 10px 20px !important;
}
.bottom-wording-wrapper p{
  font-family: roc-grotesk, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: white !important;
}
/* end of bottom wordings stylings */


/* removing unwanted videos */
video{
  display: none !important;
}
/* end of removing unwanted videos */


/* control panel stylings */
.control-panel{
  margin-top: 50px !important;
  color: white !important;
}

/* input field stylings */
.who-are-you-input{
  font-size: 13px !important;
  height: 50px !important;
  border-radius: 0px !important;
  color: black !important;
  opacity: 1 !important;
  font-family: roc-grotesk-extrawide, sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  text-transform: uppercase !important; 
}
.who-are-you-input:focus{
  border: none !important;
  box-shadow: none !important;
}
.who-are-you-input::placeholder{
  color: black !important;
  opacity: 1 !important;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}
/* end of input field stylings */

/* button stylings */
.control-panel .download-btn{
  background: none !important;
  color: white !important;
  border-color: white !important;
  border-radius: 0px !important;
  border-width: 1.5px !important;
  height: 50px !important;
  text-transform: uppercase !important; 
  font-family: roc-grotesk-extrawide, sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  transition: all .08s linear !important;
  margin-top: 20px !important;
}
.control-panel .download-btn:hover{
  color: black !important;
  background-color: white !important;
  font-family: roc-grotesk-extrawide, sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  border: none !important;
}
.control-panel .download-btn:focus{
  color: black !important;
  background-color: white !important;
  font-family: roc-grotesk-extrawide, sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  border: none !important;
}
/* end of button stylings */
/* end of control panel stylings */

